<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Pandora's box" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@n_moore" />
    <meta
      property="og:image"
      content="https://projects.natemoo.re/pandoras-box/og.jpg?v=4"
    />
    <meta
      property="og:image:alt"
      content="Click on me! I am but a humble image"
    />

    <title>Pandora's Box</title>
  </head>
  <body>
    <div>
      <h1>You fool!</h1>
      <p>You have unleashed<br />Pandora’s box</p>
    </div>

    <style>
      body {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1e1309;
        color: white;
        background-image: url(/elmo-fire.gif);
        background-repeat: no-repeat;
        background-position: bottom center;
      }

      div {
        width: 100%;
        height: auto;
        max-width: 960px;
        margin: auto;

        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 40px;
      }

      h1 {
        font-size: inherit;
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1.1;
      }

      p {
        font-weight: 400;
        line-height: 1.1;
      }

      @media (min-width: 960px) {
        div {
          font-size: 96px;
        }
      }
    </style>
  </body>
</html>
